<div class="container text-center col-lg-4  p-5">
  <h2>{{countnumber}}</h2>
  <h1>Counter</h1>

</div>

<div class="row mt-5">
  <div class="col-lg-4 mt-2">
<button class="btn col-lg-12 col-12 btn-dark" (click)="resetBtn()">Reset</button>
  </div>

  <div class="col-lg-4 mt-2">
    <button class="btn col-lg-12 col-12 btn-success" (click)="increaseBtn()">Increase Count</button>
  </div>
  <div class="col-lg-4 mt-2">
    <button class="btn col-lg-12 col-12 btn-danger" (click)="decreaseBtn()">Decrease Count</button>
  </div>
</div>